{% extends 'base.html.twig' %}

{% block javascripts %}
    <script language = "javascript"
            src = "https://code.jquery.com/jquery-2.2.4.min.js"></script>

    <script language = "javascript">
        $(document).ready(function(){
     //       id="kr" id="cps" id="isc"  id="obs" id="time"
            var countt = 1;
            $("#kr").on("click", function(event){
                $("#cps").removeClass("ASC")
                $("#cps").removeClass("DESC")
                $("#isc").removeClass("ASC")
                $("#isc").removeClass("DESC")
                $("#obs").removeClass("ASC")
                $("#obs").removeClass("DESC")
                $("#time").removeClass("ASC")
                $("#time").removeClass("DESC")
                if($("#kr").hasClass("")) {

                    $("#kr").removeClass("ASC")
                    $("#kr").removeClass("DESC")
                    $("#kr").toggleClass("DESC")
                }
                else {
                    if ($("#kr").hasClass("DESC")) {

                        $("#kr").removeClass("ASC")
                        $("#kr").removeClass("DESC")
                        $("#kr").toggleClass("ASC")
                    }
                    else {
                        $("#kr").removeClass("ASC")
                        $("#kr").removeClass("DESC")
                            $("#kr").toggleClass("DESC")
                        }

                }

                $.ajax({
                    url: "/",
                    type : "POST",
                    data: {sortst:"SHORTNAME" , direct:$("#kr").attr('class'), count:countt},


                    success: function(data) {




                        for (let i = 0; i < 10; i++)
                        { // выведет 0, затем 1, затем 2
                            document.getElementById("tables_body").deleteRow(0);

                        }
                        for (let i = 9; i > -1; i--)
                        {
                            var table = document.getElementById("tables_body");
                            var row = table.insertRow(0);
                            var cell1 = row.insertCell(0);
                            var cell2 = row.insertCell(1);
                            var cell3 = row.insertCell(2);
                            var cell4 = row.insertCell(3);
                            var cell5 = row.insertCell(4);
                            cell1.innerHTML = data[i].SHORTNAME;
                            cell2.innerHTML = data[i].LASTOFFER;
                            cell3.innerHTML = data[i].LASTTOPREVPRICE;
                            cell4.innerHTML = data[i].VOLTODAY;
                            cell5.innerHTML = String(data[i].SYSTIME);



                        }
                     //   var d = data    ;
                  //     console.log(d);


                    },


                })




            });
            //       id="kr" id="cps" id="isc"  id="obs" id="time"
            $("#cps").on("click", function(event){
                $("#kr").removeClass("ASC")
                $("#kr").removeClass("DESC")
                $("#isc").removeClass("ASC")
                $("#isc").removeClass("DESC")
                $("#obs").removeClass("ASC")
                $("#obs").removeClass("DESC")
                $("#time").removeClass("ASC")
                $("#time").removeClass("DESC")
                if($("#cps").hasClass("")) {

                    $("#cps").removeClass("ASC")
                    $("#cps").removeClass("DESC")
                    $("#cps").toggleClass("DESC")
                }
                else {
                    if ($("#cps").hasClass("DESC")) {

                        $("#cps").removeClass("ASC")
                        $("#cps").removeClass("DESC")
                        $("#cps").toggleClass("ASC")
                    }
                    else {
                        $("#cps").removeClass("ASC")
                        $("#cps").removeClass("DESC")
                        $("#cps").toggleClass("DESC")
                    }

                }

                $.ajax({
                    url: "/",
                    type : "POST",
                    data: {sortst:"LASTOFFER" , direct:$("#cps").attr('class'), count:countt},


                    success: function(data) {
                        for (let i = 0; i < 10; i++)
                        { // выведет 0, затем 1, затем 2
                            document.getElementById("tables_body").deleteRow(0);

                        }
                        for (let i = 9; i > -1; i--)
                        {
                            var table = document.getElementById("tables_body");
                            var row = table.insertRow(0);
                            var cell1 = row.insertCell(0);
                            var cell2 = row.insertCell(1);
                            var cell3 = row.insertCell(2);
                            var cell4 = row.insertCell(3);
                            var cell5 = row.insertCell(4);
                            cell1.innerHTML = data[i].SHORTNAME;
                            cell2.innerHTML = data[i].LASTOFFER;
                            cell3.innerHTML = data[i].LASTTOPREVPRICE;
                            cell4.innerHTML = data[i].VOLTODAY;
                            cell5.innerHTML = String(data[i].SYSTIME);



                        }
                        //   var d = new Date(data[0].SYSTIME);

                        //  console.log(String(d));


                    },


                })




            });

            //       id="kr" id="cps" id="isc"  id="obs" id="time"
            $("#isc").on("click", function(event){
                $("#cps").removeClass("ASC")
                $("#cps").removeClass("DESC")
                $("#kr").removeClass("ASC")
                $("#kr").removeClass("DESC")
                $("#obs").removeClass("ASC")
                $("#obs").removeClass("DESC")
                $("#time").removeClass("ASC")
                $("#time").removeClass("DESC")
                if($("#isc").hasClass("")) {

                    $("#isc").removeClass("ASC")
                    $("#isc").removeClass("DESC")
                    $("#isc").toggleClass("DESC")
                }
                else {
                    if ($("#isc").hasClass("DESC")) {

                        $("#isc").removeClass("ASC")
                        $("#isc").removeClass("DESC")
                        $("#isc").toggleClass("ASC")
                    }
                    else {
                        $("#isc").removeClass("ASC")
                        $("#isc").removeClass("DESC")
                        $("#isc").toggleClass("DESC")
                    }

                }

                $.ajax({
                    url: "/",
                    type : "POST",
                    data: {sortst:"LASTTOPREVPRICE" , direct:$("#isc").attr('class'), count:countt},


                    success: function(data) {
                        for (let i = 0; i < 10; i++)
                        { // выведет 0, затем 1, затем 2
                            document.getElementById("tables_body").deleteRow(0);

                        }
                        for (let i = 9; i > -1; i--)
                        {
                            var table = document.getElementById("tables_body");
                            var row = table.insertRow(0);
                            var cell1 = row.insertCell(0);
                            var cell2 = row.insertCell(1);
                            var cell3 = row.insertCell(2);
                            var cell4 = row.insertCell(3);
                            var cell5 = row.insertCell(4);
                            cell1.innerHTML = data[i].SHORTNAME;
                            cell2.innerHTML = data[i].LASTOFFER;
                            cell3.innerHTML = data[i].LASTTOPREVPRICE;
                            cell4.innerHTML = data[i].VOLTODAY;
                            cell5.innerHTML = String(data[i].SYSTIME);



                        }
                        //   var d = new Date(data[0].SYSTIME);

                        //  console.log(String(d));


                    },


                })




            });

            //       id="kr" id="cps" id="isc"  id="obs" id="time"
            $("#obs").on("click", function(event){
                $("#cps").removeClass("ASC")
                $("#cps").removeClass("DESC")
                $("#isc").removeClass("ASC")
                $("#isc").removeClass("DESC")
                $("#kr").removeClass("ASC")
                $("#kr").removeClass("DESC")
                $("#time").removeClass("ASC")
                $("#time").removeClass("DESC")
                if($("#obs").hasClass("")) {

                    $("#obs").removeClass("ASC")
                    $("#obs").removeClass("DESC")
                    $("#obs").toggleClass("DESC")
                }
                else {
                    if ($("#obs").hasClass("DESC")) {

                        $("#obs").removeClass("ASC")
                        $("#obs").removeClass("DESC")
                        $("#obs").toggleClass("ASC")
                    }
                    else {
                        $("#obs").removeClass("ASC")
                        $("#obs").removeClass("DESC")
                        $("#obs").toggleClass("DESC")
                    }

                }

                $.ajax({
                    url: "/",
                    type : "POST",
                    data: {sortst:"VOLTODAY" , direct:$("#obs").attr('class'), count:countt},


                    success: function(data) {
                        for (let i = 0; i < 10; i++)
                        { // выведет 0, затем 1, затем 2
                            document.getElementById("tables_body").deleteRow(0);

                        }
                        for (let i = 9; i > -1; i--)
                        {
                            var table = document.getElementById("tables_body");
                            var row = table.insertRow(0);
                            var cell1 = row.insertCell(0);
                            var cell2 = row.insertCell(1);
                            var cell3 = row.insertCell(2);
                            var cell4 = row.insertCell(3);
                            var cell5 = row.insertCell(4);
                            cell1.innerHTML = data[i].SHORTNAME;
                            cell2.innerHTML = data[i].LASTOFFER;
                            cell3.innerHTML = data[i].LASTTOPREVPRICE;
                            cell4.innerHTML = data[i].VOLTODAY;
                            cell5.innerHTML = String(data[i].SYSTIME);



                        }
                        //   var d = new Date(data[0].SYSTIME);

                        //  console.log(String(d));


                    },


                })




            });

            //       id="kr" id="cps" id="isc"  id="obs" id="time"
            $("#time").on("click", function(event){
                $("#cps").removeClass("ASC")
                $("#cps").removeClass("DESC")
                $("#isc").removeClass("ASC")
                $("#isc").removeClass("DESC")
                $("#obs").removeClass("ASC")
                $("#obs").removeClass("DESC")
                $("#kr").removeClass("ASC")
                $("#kr").removeClass("DESC")
                if($("#time").hasClass("")) {

                    $("#time").removeClass("ASC")
                    $("#time").removeClass("DESC")
                    $("#time").toggleClass("DESC")
                }
                else {
                    if ($("#time").hasClass("DESC")) {

                        $("#time").removeClass("ASC")
                        $("#time").removeClass("DESC")
                        $("#time").toggleClass("ASC")
                    }
                    else {
                        $("#time").removeClass("ASC")
                        $("#time").removeClass("DESC")
                        $("#time").toggleClass("DESC")
                    }

                }

                $.ajax({
                    url: "/",
                    type : "POST",
                    data: {sortst:"SYSTIME" , direct:$("#time").attr('class'), count:countt},


                    success: function(data) {
                        for (let i = 0; i < 10; i++)
                        { // выведет 0, затем 1, затем 2
                            document.getElementById("tables_body").deleteRow(0);

                        }
                        for (let i = 9; i > -1; i--)
                        {
                            var table = document.getElementById("tables_body");
                            var row = table.insertRow(0);
                            var cell1 = row.insertCell(0);
                            var cell2 = row.insertCell(1);
                            var cell3 = row.insertCell(2);
                            var cell4 = row.insertCell(3);
                            var cell5 = row.insertCell(4);
                            cell1.innerHTML = data[i].SHORTNAME;
                            cell2.innerHTML = data[i].LASTOFFER;
                            cell3.innerHTML = data[i].LASTTOPREVPRICE;
                            cell4.innerHTML = data[i].VOLTODAY;
                            cell5.innerHTML = String(data[i].SYSTIME);



                        }
                        //   var d = new Date(data[0].SYSTIME);

                        //  console.log(String(d));


                    },


                })




            });















            // страницы        //       id="kr" id="cps" id="isc"  id="obs" id="time"


            $(".page").on("click", function(event){
                var countt = $(this).attr("id");
                console.log(String(countt));
                if($("#kr").hasClass("DESC"))  //1
                {
                    var sortstt = "SHORTNAME"
                    var directt =  "DESC"

                }
                else
                {
                    if($("#kr").hasClass("ASC")) //1
                    {
                        var sortstt = "SHORTNAME"
                        var directt =  "ASC"
                    }
                    else
                    {
                        if($("#cps").hasClass("DESC")) //2
                        {
                            var sortstt = "LASTOFFER"
                            var directt =  "DESC"
                        }
                        else
                        {
                            if($("#cps").hasClass("ASC")) //2
                            {
                                var sortstt = "LASTOFFER"
                                var directt =  "ASC"
                            }
                            else
                            {
                                if($("#isc").hasClass("DESC")) //3
                                {
                                    var sortstt = "LASTTOPREVPRICE"
                                    var directt =  "DESC"
                                }
                                else
                                {
                                    if($("#isc").hasClass("ASC")) //3
                                    {
                                        var sortstt = "LASTTOPREVPRICE"
                                        var directt =  "ASC"
                                    }
                                    else
                                    {
                                        if($("#obs").hasClass("DESC")) //4
                                        {
                                            var sortstt = "VOLTODAY"
                                            var directt =  "DESC"
                                        }
                                        else
                                        {
                                            if($("#obs").hasClass("ASC")) //4
                                            {
                                                var sortstt = "VOLTODAY"
                                                var directt =  "ASC"
                                            }
                                            else
                                            {
                                                if($("#time").hasClass("DESC")) //5
                                                {
                                                    var sortstt = "SYSTIME"
                                                    var directt =  "DESC"
                                                }
                                                else
                                                {
                                                    if($("#time").hasClass("ASC")) //5
                                                    {
                                                        var sortstt = "SYSTIME"
                                                        var directt =  "ASC"
                                                    }
                                                    else
                                                    {
                                                        var sortstt = "1"
                                                        var directt =  "1"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                $.ajax({
                    url: "/",
                    type : "POST",
                    data:  {sortst:sortstt , direct:directt, count:countt},


                    success: function(data) {

                        for (let i = 0; i < 10; i++)
                        { // выведет 0, затем 1, затем 2
                            document.getElementById("tables_body").deleteRow(0);

                        }
                        for (let i = 9; i > -1; i--)
                        {
                            var table = document.getElementById("tables_body");
                            var row = table.insertRow(0);
                            var cell1 = row.insertCell(0);
                            var cell2 = row.insertCell(1);
                            var cell3 = row.insertCell(2);
                            var cell4 = row.insertCell(3);
                            var cell5 = row.insertCell(4);
                            cell1.innerHTML = data[i].SHORTNAME;
                            cell2.innerHTML = data[i].LASTOFFER;
                            cell3.innerHTML = data[i].LASTTOPREVPRICE;
                            cell4.innerHTML = data[i].VOLTODAY;
                            cell5.innerHTML = String(data[i].SYSTIME);



                        }
                        var d = new Date(data[0].SYSTIME);

                        console.log(String(countt));


                    },


                })
            });
















        })


    </script>

{% endblock %}






{% block title %}Hello TableController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .DESC:after {
        content: '\21D3';
    }
    .ASC:after {
        content: '\21D1';
    }
</style>
{{ count }}
{#     <th class=strelka">Краткое наименование ↓↑</th>
#}

    <table border="1" id="table" name="table" class="sortable">
        <thead><tr><th id="kr" class="">Краткое наименование</th><th id="cps" class="">Цена последней сделки</th><th id="isc" class="">Изменение цены</th><th id="obs" class="">Объем сделок</th><th id="time" class="">Время последнего обновления</th></tr></thead>
        <tbody id="tables_body">
         {% for traid in traids| slice( i ,   j ) %}
         <tr><td>{{ traid.SHORTNAME }}</td>   <td>{{ traid.LASTOFFER }}</td>  <td>{{ traid.LASTTOPREVPRICE }}</td> <td>{{ traid.VOLTODAY }}</td>   <td>{{ traid.SYSTIME|date('Y-m-d H:i:s') }}</td>   </tr>


    {% else %}
    <p>There are no blog entries for symblog</p>
    {% endfor %}
        </tbody>
    </table>
<p></p>

{% for count in 1..count %}

<button id={{ count }} class="page">{{ count }}</button>
    {% endfor %}

{% endblock %}


