{% extends 'base.html.twig' %}

{% block javascripts %}
    <script language = "javascript"
            src = "https://code.jquery.com/jquery-2.2.4.min.js"></script>

    <script language = "javascript">

        $(document).ready(function(){
            var countt = 1;
            var directt = 1;
            var sortstt = 1;
          function ajax(sort,directt,countt) {
              $.ajax({
                  url: "/",
                  type : "POST",
                  data: {sortst: sort, direct:directt, count:countt},
                  success: function(data) {

                      $("#tables_body").html(data);
                  },
              })
        }
            $(".thed").on("click", function(event){
                countt = 1;
                if($(this).hasClass("DESC"))
                {
                    $(".DESC").removeClass("DESC");
                    $(this).toggleClass("ASC");
                    directt = "ASC";
                }
                else {
                    $(".ASC").removeClass("ASC");
                    $(".DESC").removeClass("DESC");
                    $(this).toggleClass("DESC");
                    directt = "DESC";
                }
                sortstt=$(this).attr('id');
                ajax(sortstt,directt,countt)
            });

            $(".page").on("click", function(event){
                 countt = $(this).attr("id");
                ajax(sortstt,directt,countt)
            });
        })

    </script>

{% endblock %}

{% block title %}Hello TableController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .DESC:after {
        content: '\21D3';
    }
    .ASC:after {
        content: '\21D1';
    }
</style>
{#     <th class=strelka">Краткое наименование ↓↑</th>
#}

    <table border="1" id="table" name="tablee" class="sortable">
        <thead><tr><th id="SHORTNAME" class="thed">Краткое наименование</th><th id="LASTOFFER" class="thed">Цена последней сделки</th>
            <th id="LASTTOPREVPRICE" class="thed">Изменение цены</th><th id="VOLTODAY" class="thed">Объем сделок</th>
            <th id="SYSTIME" class="thed">Время последнего обновления</th></tr></thead>
        <tbody id="tables_body">
         {% for traid in traids %}
         <tr><td>{{ traid.SHORTNAME }}</td>   <td>{{ traid.LASTOFFER }} руб.</td>  <td>{{ traid.LASTTOPREVPRICE }} руб.</td> <td>{{ traid.VOLTODAY }}</td>
             <td>{{ traid.SYSTIME|date('Y-m-d H:i:s') }}</td>   </tr>
    {% endfor %}
        </tbody>
    </table>
<p></p>

{% for count in 1..count %}
<button id={{ count }} class="page">{{ count }}</button>
    {% endfor %}

{% endblock %}


