


         {% for traid in traids %}
         <tr><td>{{ traid.SHORTNAME }}</td>   <td>{{ traid.LASTOFFER }}</td>  <td>{{ traid.LASTTOPREVPRICE }}</td> <td>{{ traid.VOLTODAY }}</td>
             <td>{{ traid.SYSTIME|date('Y-m-d H:i:s') }}</td>   </tr>
    {% endfor %}





